@media (max-width: 580px) {
    .product .container .product-card-area .product-card:nth-child(2n-1){
        margin-right: 2rem;
    }
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
        width: 100%;
    }
    .navbar .container{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        width: 100%;
        background-color: white;
        flex-direction: column;
    }
    .navbar-links li{
        text-align: center;
    }

    .navbar-links li a{
        padding: 1.8rem 3rem;
        font-size: 1.2rem;
    }
    .navbar-links.active{
        display: flex;
        z-index: 10;
    }
    .hidden-icon-mobile{
        display: none !important;
    }

    /* icon-mobile */
    .icon-mobile{
        display: flex;
        position: absolute;
        top: 4.50rem;
        right: 4rem;
    }
    /* contents-title middle */
    .contents .container .title-middle p{
        display: none ;
    }
    /* intro-button */
    .intro .container .intro-button{
        margin-top: 1rem;
    }
    /* cards */
    .card-middle{
        margin-top: 20px;
    }
    .card-middle .card{
        position: relative;
        display: flex;
        width: 357px;
        height: 109px;
        margin:10px 0 !important;
    }
    .card-middle .card .info p {
        padding-top: 0.5rem;
    }

    /* introduct */
    .intro{
        width: 100%;
        height: 67rem;
        background-image: url("../images/intro-image3.jpg");
    }
    /* introduct-Detail */
    .product .container .product-card-area{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
    }

    .product .container .product-card-area .product-card:nth-child(n){
        margin-right: 0rem;
        margin-left: 0rem;
    }
    .product .container .product-card-area .product-card:nth-child(2n){
        margin-top: 1rem;
    }
    .product .container .product-card-area .product-card:nth-child(3n){
        margin-top: 1rem;
    }

    /* information */
    .information{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
    }
    .information .information-img{
        position: absolute;
        z-index: 2;
        width: 96%;
        top: 1rem;
    }
    .information .information-img img{
        border-radius: 30px; 
    }
    
    /* information-info */
    .information .information-info{
        position: absolute;
        display: flex;
        justify-content:center;
        width: 100%;
        height: 410px;
        align-items: end;
        top: 7rem;
        padding-left: 0;
    }
    .information .information-info .information-details{
        display: flex;
        height: 250px;
    }
    .information .information-info .information-details h3{
        font-size: 2rem;
    }
    .information .information-info .information-details h2{
        font-size: 3.6rem;
    }
    .discount-item{
        display: flex;
        align-items: flex-end;
        position: relative;
        width: 5%;
    }
    .information .information-info .discount-item p{
        position: relative;
        font-size: 16rem;
        padding-top: 0;
        top: 4rem;
    }

    /* customer-info-card*/
    .customer-info{
        height: 400px;
        margin-top: 9rem;
        margin-bottom: 0;
    }
    .customer-info .container{
        width: 98%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .customer-info .container .customer-card{
        justify-content: flex-start;
        flex-wrap: wrap;
        height: 80px;
        width: 100%;
    }  
    .customer-info .container .customer-card:nth-child(1){
        padding-right: 0rem;
    }
    /* email */
    .email{
        height: 240px;
    }

    /* email-info */
    .email .container .email-contents .email-info{
        width: 50%;
    }
    .email .container .email-contents .email-info p{
        font-size: 1.5rem;
    }

    /* email-input */
    .email .container .email-contents .email-input{
        width: 22.375rem;
    }
    .email .container .email-contents .email-input input{
        width: 22.375rem;
    }
    .email .container .email-contents .email-input button{
        width: 8.25rem;
    }

    /* !!!!!!!!!!!!!!!!!!! size özel indr kısmının aşağısını ortalayamadım onu düzelt */





}
/* information-info-mobile image START!!!!! */
@media (max-width: 530px){
    .information .information-info{
        height: 380px;
    }
    /* customer */
    .customer-info{
        margin-top: 7rem;
    }
    /* email-info */
    .email .container .email-contents .email-info{
        width: 60%;
    }
}

@media (max-width: 490px){
    .information .information-info{
        height: 360px;
    }
    .information .information-info .discount-item p{
        font-size: 14rem;
        top: 3.4rem;
    }
    /* customer */
    .customer-info{
        margin-top: 6rem;
    }
}

@media (max-width: 450px){
    .information .information-info{
        height: 340px;
    }
    .information .information-info .information-details h3{
        font-size: 1.8rem;
    }
    .information .information-info .information-details h2{
        font-size: 3.4rem;
    }
    .information .information-info .discount-item p{
        font-size: 12rem;
        top: 3rem;
    }
    /* customer */
    .customer-info{
        margin-top: 4rem;
    }
    /* email-info */
    .email .container .email-contents .email-info{
        width: 70%;
    }
}
@media (max-width: 393px){
    .intro{
        height: 105rem;
    }    
}
/* information-info-mobile image ENDD!!! */